
h1{ color: blue;}
body { background:rgb(101, 145, 199);}
label{color: rgb(165, 42, 144);}
p{color: rgb(226, 43, 192);}

body{background:  url(https://www.dentons.com/-/media/Images/Website/Background%20Images/Landing%20Pages/Whats%20Different%20About%20Dentons/Contact%20us/contact3.jpg) fixed}